<?xml version="1.0" encoding="UTF-8" standalone="no"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="kayak Suite">

    <test name="kayakTest">
        <!--<classes>
            <class name="com.anamika.kayakTest.kayakTest"/>

        </classes>-->
        <packages>
              <package name="com.anamika.testRunner">
              </package>
        </packages>
    </test>
</suite>